h1{color: yellow;
    background-color: red;
}
h4{color: yellow;
background-color: red;
}
    #a{
        background-color: #FF0000;
    }
    #b{  
        background-color: #6633FF;
    }
    #c{
        background-color: #CC6600;
    }
    #d{
        background-color: #3399FF;
    }
    #aa{ 
        background-color: #CCCC00;
    }
    #bb{
        background-color: #66FFFF;
    }
    #cc{
        background-color: #CCCC99;
    }
    #dd{
        background-color: #FF9933;
    }
    #ab{
        background-color: #339900;
    }
    #ac{
        background-color:#6699FF;
    }
    #ad{
        background-color: #FFFFCC  
    }
    #ae{
        background-color: #CC00FF
    }
    #ba{
        background-color: #00CCFF
    }
    #bb{
        background-color:#FF99FF
    }
    #bc{
        background-color:#660000
    }
    #bd{
        background-color:#990099
    }>